<footer class="footer">
  <p>
    Copyright © <a href="https://foodogsquared.one">foodogsquared</a> and wrapper-manager-fds contributors
  </p>
  <p>wrapper-manager-fds is licensed under <a href="https://spdx.org/licenses/MIT.html">MIT license</a></p>
</footer>
